{% extends '::base.html.twig' %}

{% block body %}
<a class="nav-link" href="{{ path('questionnaire_ajouter',{ 'id': 0 })}}">Nouveau questionnaire</a>
    <div>
        <form action="{{ path('questionnaire_list') }}" method="get">
            <label for="filter">Titre</label>
            <input name="filter" type="text">
            <label for="filterTheme">Thematique</label>
            <select name="filterTheme">
              <option value=""></option>
              {% for theme in themes %}
                <option value="{{theme.id}}">{{theme.titre}}</option>
              {% endfor %}
            </select>

            <button type="submit" class="btn btn-default btn-sm">Filtrer</button>
        </form>
    </div>

    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th class="col-sm-1">{{ knp_pagination_sortable(questionnaires, 'id', 'bp.id') }}</th>
                <th class="col-sm-5 {% if questionnaires.isSorted('bp.thematique.titre') %}sorted{% endif %}">{{ knp_pagination_sortable(questionnaires, 'Thematique', 'bp.thematique.titre') }}</th>
                <th class="col-sm-6 {% if questionnaires.isSorted('bp.titre') %}sorted{% endif %}">{{ knp_pagination_sortable(questionnaires, 'Title', 'bp.titre') }}</th>
                <th class="col-sm-2">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for questionnaire in questionnaires %}
            <tr>
                <td>{{ questionnaire.id }}</td>
                <td>{{ questionnaire.thematique.titre }}</td>
                <td>{{ questionnaire.titre }}</td>
                <td>
                    <a href="{{ path('questionnaire_voir', { 'id': questionnaire.id }) }}" class="btn btn-primary btn-sm btn-block">Voir</a>
                    {% if questionnaire.publie == false %}
                      <a href="{{ path('questionnaire_ajouter',{ 'id': questionnaire.id }) }}" class="btn btn-primary btn-sm btn-block">Editer</a>
                      <a href="{{ path('questionnaire_supprimer',{ 'id': questionnaire.id }) }}" class="btn btn-danger btn-sm btn-block">Supprimer</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(questionnaires) }}
    </div>

{% endblock %}
