{% extends 'base.html.twig' %}

{% block body %}
    <h1>Thematiques list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for thematique in thematiques %}
            <tr>
                <td><a href="{{ path('thematique_show', { 'id': thematique.id }) }}">{{ thematique.id }}</a></td>
                <td>{{ thematique.titre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('thematique_show', { 'id': thematique.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('thematique_edit', { 'id': thematique.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('thematique_new') }}">Create a new thematique</a>
        </li>
    </ul>
{% endblock %}
